<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
 <Product Name="Periodic Table Speller" Id="8D4B8DF5-5EC7-4E8A-948D-881D7AC0607F" UpgradeCode="5E32B1EF-096F-4EFB-8545-516389F4B376" Language="1033" Version="1.0.0.0" Manufacturer="Joseph Dillon">

  <Package Id="*" InstallerVersion="200" Compressed="yes" />

  <Condition Message="You need to be an administrator to install this product.">
   Privileged
  </Condition>
  <Condition Message="This setup requires the .NET Framework 2.0 or higher.">
   <![CDATA[MsiNetAssemblySupport >= "2.0.50727"]]>
  </Condition>

  <Media Id="1" Cabinet="App.cab" EmbedCab="yes" />

  <Directory Id="TARGETDIR" Name="SourceDir">
   <Directory Id="ProgramFilesFolder">
    <Directory Id="INSTALLDIR" Name="Periodic">
     <Component Id="MainExecutable" Guid="5961B0F6-3807-44C0-A786-701B19B2A9C9">
      <File Id="GTKSETUP" Source="gtk-sharp-2.12.10.win32.msi" Checksum="yes" Hidden="yes"/> 
      <File Id="AppEXE" Name="periodic.exe" Source="../bin/periodic.exe" Vital="yes">
       <Shortcut Id="startmenuApp" Directory="ProgramMenuDir" Name="Periodic Table Speller" WorkingDirectory="INSTALLDIR" Icon="app.ico" IconIndex="0" Advertise="yes" />
      </File>
      <RemoveFolder Id="INSTALLDIR" On="uninstall" />
     </Component>
    </Directory>
   </Directory>

   <Directory Id="ProgramMenuFolder">
    <Directory Id="ProgramMenuDir" Name="Periodic">
     <Component Id="ProgramMenuDir" Guid="AD219128-1BD2-4EC4-9EE8-C35E01A32EB6">
      <RegistryValue Root="HKCU" Key="SOFTWARE\josephDillon\Periodic" Type="string" Value="i be trollin" KeyPath="yes" />
      <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
     </Component>
    </Directory>
   </Directory>
  </Directory>

  <Icon Id="app.ico" SourceFile="../icon.ico"/>

  <Feature Id="Complete" Level="1">
   <ComponentRef Id="MainExecutable" />
   <ComponentRef Id="ProgramMenuDir" />
  </Feature>

  <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

  <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
  <Property Id="GTKINSTALLED"> 
    <RegistrySearch Id="gtksearch" Key="SOFTWARE\Novell\Gtk-Sharp\2.8.3" Name="SdkInstallRoot" Root="HKLM" Type="raw"></RegistrySearch> 
  </Property> 
  <UIRef Id="WixUI_InstallDir" />

  <CustomAction Id="InstallGtk" FileKey="GTKSETUP" ExeCommand="/silent" Execute="deferred" Impersonate="no" Return="ignore"/>
  <CustomAction Id="LaunchApplication" FileKey="AppEXE" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
  <UI>
   <Publish Dialog="ExitDialog" Control="Finish" Order="1" Event="DoAction" Value="LaunchApplication">
    LAUNCHAPPONEXIT AND NOT (WixUI_InstallMode = "Remove")
   </Publish>
  </UI>

  <InstallUISequence>
   <LaunchConditions After="AppSearch" />
  </InstallUISequence>
  <InstallExecuteSequence>
   <Custom Action="InstallGtk" Before="InstallFinalize"> 
     <![CDATA[NOT REMOVE AND NOT GTKINSTALLED]]> 
   </Custom>
   <LaunchConditions After="AppSearch" />
  </InstallExecuteSequence>

 </Product>
</Wix>